torch==1.13.1
scikit-learn==0.23.1
tensorboardX==2.0
tqdm==4.47.0
h5py==2.10.0
gym==0.17.2
stable-baselines3>=0.10.0
click==8.0.1
typing-extensions==3.7.4.3
scipy==1.5.4
structlog==20.2.0
colorama==0.4.4
