
:root{
  --main-bg-color: #2c3e50;
}

/* Docs background */
.wy-side-nav-search{
  background-color: var(--main-bg-color);
}

/* Mobile version */
.wy-nav-top{
  background-color: var(--main-bg-color);
}
