name: build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-latest, windows-latest]
        python-version: [3.7.x, 3.8.x, 3.9.x]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install packages
        run: |
          python -m pip install --upgrade pip
          pip install wheel setuptools
      - name: Build wheel package for Linux
        if: ${{ matrix.os == 'ubuntu-20.04' }}
        run: |
          python setup.py sdist bdist_wheel -p manylinux1_x86_64
      - name: Build wheel package for Windows and MacOS
        if: ${{ matrix.os != 'ubuntu-20.04' }}
        run: |
          python setup.py sdist bdist_wheel
      - name: Upload wheel package
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}_${{ matrix.python-version}}.whl
          path: dist/d3rlpy-*.whl
          retention-days: 5

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
